html{
  overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
  text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 1.1rem;
    overflow: hidden
  }

  
.top-container {
 top:30%;
left: 0;
right: 0;
width: 100%;
position: absolute;
  
}
.link{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
}
img{
  width: 4rem;
}
.copyright{
  margin: 5px auto;
}
.footer-link{
  
}
#particles-js{
  
 position: absolute;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  
  
  background: rgb(2,0,36);
background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(1,136,163,1) 100%);
  
}
h1 {
  
    color: #b2dffb;
  
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 5.625rem;
  
}
h2 {
    color: #b2dffb;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
 
}
h3 {
    color: #b2fcff;
  font-family: "Raleway", sans-serif;
}
p{
  color: #011013;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.Myself {
  border-radius: 50%;
  height: 300px;
}

video{
 width: 50%;
 height: 50%;

}
@media (max-width: 750px) {
  
  video{
  width: 100%;
  height: 100%;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 2rem;
  }
}
@media only screen and (orientation: portrait) and (max-device-width:1080px) {
  h1{
      font-size:11.5vw
  }

  h2 {
      font-size: 5vw
  }
}

@media only screen and (orientation: landscape) and (max-device-height:720px) {
  h1 {
      font-size:13.5vh
  }

  h2 {
      font-size: 7vh
  }
}
.web {
  height: 300px;
  width: 300px;
}
a{
    
    color: #42dee1;
}
